.building-blocks-tab-single-unit-pr-1 {
  text-align: center;
  color: #49454f;
  background-color: #eae8e8;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  font-family: Roboto, Arial;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  display: flex;
}

.state-layer-1 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.tab-contents-1 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 12px;
  padding-bottom: 14px;
  display: flex;
}

.label-1 {
  margin: 17px 2px 4px 1px;
}
